<p>calc works!</p>
<input #arg1 type="text" placeholder="argument2" />
<input #arg2 type="text" placeholder="argument2" />
<button (click)="Add(arg1.value, arg2.value)">+</button>
<button (click)="Substraction(arg1.value, arg2.value)">-</button>
<button (click)="Multiplication(arg1.value, arg2.value)">*</button>
<button (click)="Division(arg1.value, arg2.value)">/</button>
<span>result: {{ result }}</span>
<input type="text" name="num" id="num" [value]="this.a[0]" />
<div class="calculator">
  <input type="text" class="calculator__input" />
  <div class="calculator__row">
    <button class="calculator__btn">%</button>
    <button class="calculator__btn">CE</button>
    <button class="calculator__btn">C</button>
    <button class="calculator__btn">Backspace</button>
  </div>
  <div class="calculator__row">
    <button class="calculator__btn">1/x</button>
    <button class="calculator__btn">x <sup>2</sup></button>
    <button class="calculator__btn">x <sup>1/2</sup></button>
    <button class="calculator__btn" (click)="Division(arg1.value, arg2.value)">
      /
    </button>
  </div>
  <div class="calculator__row">
    <button class="calculator__btn">7</button>
    <button class="calculator__btn">8</button>
    <button class="calculator__btn">9</button>
    <button
      class="calculator__btn"
      (click)="Multiplication(arg1.value, arg2.value)"
    >
      X
    </button>
  </div>
  <div class="calculator__row">
    <button class="calculator__btn">4</button>
    <button class="calculator__btn">5</button>
    <button class="calculator__btn">6</button>
    <button
      class="calculator__btn"
      (click)="Substraction(arg1.value, arg2.value)"
    >
      -
    </button>
  </div>
  <div class="calculator__row">
    <button class="calculator__btn">1</button>
    <button class="calculator__btn">2</button>
    <button class="calculator__btn">3</button>
    <button class="calculator__btn" (click)="Add(arg1.value, arg2.value)">
      +
    </button>
  </div>
  <div class="calculator__row">
    <button class="calculator__btn"><sup>+</sup>/<sub>-</sub></button>
    <button class="calculator__btn">0</button>
    <button class="calculator__btn">,</button>
    <button class="calculator__btn">=</button>
  </div>
</div>
