body{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    width: 1920px;
    height: 903px;

}

.title{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 117px;
}
h1{
    font-family: "Proxima Nova";
    font-size: 48px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
}
.text{
    width: 699px;
    height: fit-content;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 38px;

}
p{
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #949494;
    height: min-content;
}
.conteiner{
    width: fit-content;
    height: max-content;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 132px;
}
.image{
    display: inline-block;
   max-width: 245px;
    height: fit-content;
}
img{
    display: block;
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
}
span{
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    right: 0;
    left: 0;
    padding-top: 29px;
    margin: 0 auto;
    display: block;
    text-align: center;
    
}
.image p{
    height: fit-content;
    width: fit-content;
    display: block;
    position: relative;
    right: 0;
    left: 0;
    padding-top: 31px;
    margin: 0 auto;
}
.button{
    width: 205px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    background-image: linear-gradient(74deg, #49007c 0%, #e70088 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 111px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
}