<nav>
  <ul>
    <li><a routerLink="/about">About Component</a></li>
    <li><a routerLink="/calc">Calc Component</a></li>
    <li><a routerLink="/calendar">Calendar Component</a></li>
    <li><a routerLink="/forms">Forms Component</a></li>
    <li><a routerLink="/myform">Myform Componet</a></li>
    <li><a routerLink="/reactiveforms">Reactiveforms Component</a></li>
    <li><a routerLink="/vizualizer">Vizualizer Component</a></li>
    <li><a routerLink="/timer">Timer Component</a></li>
    <li><a routerLink="/toggle">Toggle Component</a></li>
    <li><a routerLink="/other">Other Component</a></li>
    <li><a routerLink="/post">PostComponent</a></li>
    <li><a routerLink="/newpost">Newpost Component</a></li>
    <li><a routerLink="/formstraining">Formstraining Component</a></li>
    <li><a routerLink="/reactive">Reactive-forms training Component</a></li>
    <li><a routerLink="/animation">Animation Component</a></li>
    <li><a routerLink="/registration">registration Component</a></li>
    <li><a routerLink="/showusers">Show users Component</a></li>
    <li><a routerLink="/homework_forms">Homework forms</a></li>
    <li><a routerLink="/homework_routing">Homework routing</a></li>
  </ul>
</nav>
<!-- <label>
  Name:
  <input type="text" [formControl]="name" />
</label>
{{ name.value }} -->
<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="email" />
  <input type="password" formControlName="password" />
</form> -->
<router-outlet></router-outlet>