td {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
}
#elem {
  position: relative;
}
div:hover {
  cursor: pointer;
}
